<!DOCTYPE html>
<html lang="en">
<!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en"><![endif]-->
<!--[if !IE]><html lang="en"><![endif]-->
<head>
	<meta charset="utf-8">
	<title>Portal Index</title>
	<meta name="keywords" content="responsive, free, html, template" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="shortcut icon" href="/public/favicon.ico" />
</head>
<style>
textarea {width: 540px; height: 213px}
</style>
<body>
	<table>
		<tr>
			<td>参数信息</td>
			<td>转换之后参数</td>
		</tr>
		<tr>
			<td><textarea id="paramData"></textarea></td>
			<td><textarea id="sortedData"></textarea></td>
		</tr>
	</table>
	<script>
	function shouldIgnore(paramName) {
		if (["spm", "_input_charset", ""].indexOf(paramName) > -1) {
			return true;
		}
		if (paramName.indexOf('_widget') > -1) {
			return true;
		}
	}
	function makeSort() {
		var content = paramData.value.split("&");
		var paramArray = []
		content.forEach(function(item, index) {
			var splitData = item.split("=");
			if (splitData[1] && !shouldIgnore(splitData[0])) {
				paramArray.push({
					name: splitData[0],
					value: decodeURIComponent(splitData[1]),
				})
			}
		});
		paramArray.sort(function(firstOpt, secondOpt){
			if (firstOpt.name > secondOpt.name) {
				return 1;
			}
			return -1;
		})
		sortedData.value = paramArray.map(function(paramMap){
			return paramMap.name + "=" + paramMap.value
		}).join('\n');
	}
	</script>
	<button onclick="makeSort()">点击参数</button>
	<button onclick="window.open('https://www.diffchecker.com/diff')">对比结果</button>
</body>
</html>
