#macro(setLayout $url)
	#if(!$url.startsWith("layout"))
		<!-- [WARN] bad layout location. -->
	#end
	#set($screenLayout = "${url}.vm")
#end

#macro(includeTemplate $url)
	#if($url.startsWith("common/"))
		<!-- [WARN] bad control location. -->
	#else
		#parse("common/${url}.vm")
	#end
#end

#macro(printException $exception) 
$Utils.printException($exception)
#end