<!doctype html>
#if($data.search == "<a>测试</a>")
    <!-- status-ok -->
#end
<html>
<head>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>$title</title>
</head>
<body>
    $body
</body>
</html>
