<!DOCTYPE html>
<html>
    <head>
    	#block("title")
    		<title>默认标题</title>
    	#end
    	#include('head.html')
    </head>
<body>
	#block("screen")#end
	$screen_content
	#block("script")#end
</body>
</html>
