$lang.domain

#block("tpl")
    <script type="text/javascript">
        var token = "$page.token";
    </script>
    #if($data.params.keyword)
        <!-- status-ok -->
    #end
    OK
#end
$util.toJson($data)

<style>
.ac {
    font-size: 9pt;
    border-collapse: collapse;
    margin-top: 10px
}

.ac td {
    padding: 5px;
    border: 1px solid #CCC
}
</style>
<table border="1" style="font-size: 9pt" class="ac c-hide">
#foreach($item in $request.getAttributeNames())
    <tr>
        <td>$velocityCount</td>
        <td>$item</td>
        <td>$request.getAttribute($item).class</td>
        <td>$request.getAttribute($item)</td>
    </tr>
#end
</table>

<!--
Request:
#foreach($item in $request.getAttributeNames())
    $item: $request.getAttribute($item)
#end
-->

<!--
Session:
#foreach($item in $session.getAttributeNames())
    $item: [$session.getAttribute($item)]
#end
-->

<!-- status-ok -->