##{"params":{"page":1.0,"offset":32.0,"keyword":"百度中国"},"method":"GET"}

#define("tpl")
    <script type="text/javascript">
        var token = "$page.token";
    </script>
    #if($data.getParams().keyword)
        <!-- status-ok -->
    #end
#end

$page.load("misc.vm", {
    "search": $data.getParams().keyword
})

<!--
Request:
#foreach($item in $request.getAttributeNames())
    $item
#end
-->

<!--
Session:
#foreach($item in $session.getAttributeNames())
    $item: [$session.getAttribute($item)]
#end
-->


$tpl