#define("tpl")
    <script type="text/javascript">
        var token = "$page.token";
    </script>
    #if($data.params.keyword)
        <!-- status-ok -->
    #end
    OK
#end
$util.toJson($data)
$page.load("banner.html")

<!--
Request:
#foreach($item in $request.getAttributeNames())
    $item
#end
-->

<!--
Session:
#foreach($item in $session.getAttributeNames())
    $item: [$session.getAttribute($item)]
#end
-->

$tpl