$page.setVariable("title", "页面标题")

<input value="$page.encrypt('OK')" type="hidden" />
<div class="main">
    $page.renderTpl("go-search")
    $page.renderTpl("sub-menu", {})
</div>

$page.setLayout("common/work-layout")