<base target="_blank" />
<meta http-equiv="x-dns-prefetch-control" content="on" />

<link rel="dns-prefetch" href="//b.alicdn.com" />
<link rel="dns-prefetch" href="//g.alicdn.com" />
<link rel="dns-prefetch" href="//bg.alicdn.com" />
<link rel="dns-prefetch" href="//cbu01.alicdn.com" />
<link rel="dns-prefetch" href="//astyle-src.alicdn.com" />
<link rel="dns-prefetch" href="//astyle.alicdn.com" />
<link rel="shortcut icon" href="//cbu01.alicdn.com/favicon.ico" type="image/x-icon" />

<!--[if lt IE 9]>
<script src="//g.alicdn.com/next/ie8/0.2.2/all.min.js"></script>
<![endif]-->

<script type="text/javascript">document.domain = '1688.com';</script>
<script type="text/javascript">
var F = (function() {
  var context = function(name, defination) {
    if (arguments.length > 1) {
      this[name] = defination;
    } else if (name) {
      if (typeof name === 'object') {
        for (var key in name) {
          if (name.hasOwnProperty(key)) {
            this[key] = name[key];
          }
        }
      } else {
        return this[name];
      }
    }
  };
  return {
    ready: [],
    context: context
  }
})();
</script>