#includeTemplate("header")

<style>
span {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin: 0 5px;
}
button {
	margin: 10px 50px
}
</style>
<!-- $request_id -->
<form action="add" method="POST" target="hiddenForm">
    <li><span class="label">userName</span><input name="userName" /></li>
    <li><span class="label">password</span><input name="password" /></li>
    <li><span class="label">status</span><input name="status" /></li>
    <button>提交</button>
</form>
<iframe name="hiddenForm"></iframe>
<br />
$requestContext.getMessage("var.copyright")
<script>
	var dataList = $JsonUtils.stringify($user); 
</script>

#setLayout("layout/defaultLayout")
