<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-CN"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    $page.renderTpl("no-cache")
    $page.renderTpl("csrf-token", {})
    <title>
        $page.getVariable("title", "网站主页") - google.com 中文站
    </title>
</head>
<body>
    <div class="header">
        $page.getPageId()
        $page.getConfig("message.domain")
    </div>
    $page.getVariable("body")
    $page.renderTpl("baidu-search")
</body>
</html>