<!DOCTYPE html>
<html>
    <head>
    	$!title
    	#include('head.html')
    </head>
<body>
    $!screen
	$!script
    <script src="$page.getURI('home/log')?version=1.0.1&sid=3"></script>
</body>
</html>