## 禁用布局功能
#macro(disabledLayout)
    #extends("layout")
#end

## 获取内部模板
#macro(external $name, $data)
    $page.loadTemplate($name, $data)
#end

## 设置布局地址
#macro(extends $layoutName)
    #set($layout = "${layoutName}.vm")
#end

## 获取内部地址
#macro(getUrl $pathName)$page.getUrl($pathName)#end