<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	xmlns:util="http://www.springframework.org/schema/util"	xsi:schemaLocation="        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">	<!-- 页面文案 -->	<bean name="viewProperty" class="org.springframework.beans.factory.config.PropertiesFactoryBean">		<property name="locations">			<list>				<value>/META-INF/conf/*.properties</value>			</list>		</property>	</bean>	<!-- 外部模板 -->	<bean class="org.ionnic.common.view.external.DefaultExternalTemplateLoader">	</bean></beans>