<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 文件扫描 -->
	<context:component-scan base-package="org.ionnic.app" />

	<!-- 模板配置 -->
	<bean class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="configLocation" value="/WEB-INF/velocity.properties" />
		<property name="resourceLoaderPath">
			<value>/WEB-INF/views,/WEB-INF/external,/WEB-INF/views/common</value>
		</property>
	</bean>

	<!-- 注解支持 -->
	<mvc:annotation-driven>
		<mvc:argument-resolvers>
			<bean class="org.ionnic.common.web.BaseMethodArgumentResolver" />
		</mvc:argument-resolvers>
		<mvc:message-converters register-defaults="true">
			<bean class="org.ionnic.common.web.JsonMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 视图配置 -->
	<bean class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
		<property name="order" value="1" />
		<property name="suffix" value=".vm" />
		<property name="screenContentKey" value="body" />
		<property name="layoutUrl" value="common/layout/default.vm" />
		<property name="requestContextAttribute" value="context" />
		<property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml" />
	</bean>

	<!-- 拦截过滤 -->
	<mvc:interceptors>
		<bean class="org.ionnic.common.web.ContentTypeInterceptor" />
		<bean class="org.ionnic.common.web.SecurityInterceptor" />
	</mvc:interceptors>

	<!-- 异常处理 -->
	<bean class="org.springframework.web.servlet.handler.HandlerExceptionResolverComposite">
		<property name="order" value="0" />
		<property name="exceptionResolvers">
			<list>
				<bean class="org.ionnic.common.web.DefaultExceptionResolver">
					<property name="errorView" value="/common/error" />
					<property name="showErrorState" value="false" />
				</bean>
			</list>
		</property>
	</bean>

	<!-- 静态资源 -->
	<mvc:resources location="/public/" mapping="/public/**" />
	<mvc:resources location="/index.html" mapping="/index.html" />
</beans>