#set($dataMap = $!vars.reserveEntity)
#set($dataMap = {
    "isAuthorized": "Y",
    "reserveFeature": "reserveFeature",
    "minReserveAmount": 1000,
    "maxReserveAmount": 3200,
    "rangeList": [
        {"beginAmount": 1000, "date": 14},
        {"beginAmount": 2000, "date": 21}
    ]
})

#define($config) 
{
  "isAuthorized": #if($dataMap.isAuthorized == "Y") true #else false #end,
  "featureId": "feature100019033",
  "featureName": "供货方式",
  
  "minAmount": "$!dataMap.minReserveAmount",
  "maxAmount": "$!dataMap.maxReserveAmount",
  "rangeList": [
    #foreach($range in $dataMap.rangeList)
        {"beginAmount": "$!range.beginAmount", "days": "$!range.date"},
    #end
  ]
}
#end
#set($configMap.providerMode = "$config")
