## 禁用布局功能
#macro(DisabledLayout)
    $page.setLayout(null)
#end

## 空逻辑输出
#macro(Ignore $ignore)#set($_ = $ignore.toString())#end

## 设置布局地址
#macro(Extends $layoutName)
    $page.setLayout($layoutName)
#end

## 获取外部模板
#macro(External $templateName, $dataMap)
    $page.renderTpl($templateName, $dataMap)
#end

## 引用静态模板
#macro(Include $filename)
    #include("${filename}.html")
#end