<input type="hidden" name="canSearch" value="true" />
<input type="hidden" name="hasAuthorizationCate" value="true" />
<input type="hidden" name="categoryChoiceUrl" value="https://portal.go.1688.com/mallcat/ajax/getMarketCategory.json?opMemberId=b2b-2249771845&brandId=21508&type=espace" />

<link rel="stylesheet" data-sc-pos="header" href="//bg.alicdn.com/@cbu/spu/common/index.css" />
<link rel="stylesheet" data-sc-pos="header" href="//bg.alicdn.com/@cbu/spu/page/product-post/entry.css" />

<a target="_blank" href="https://go.1688.com/product/espace/product_post.htm?productId=1230357">
	<h1>online version</h1>
</a>

<div id="main-content">
    #renderTemplate("widget/breadCrumb")
	#renderTemplate("widget/stepBar")
    #renderTemplate("widget/spuForm")
</div>

<script src="//astyle-src.alicdn.com/fdevlib/js/lofty/port/lofty.js"></script>
<script data-sc-pos="footer" data-sc-amd="true" src="//bg.alicdn.com/@sys/loader/1.x/loader.js"></script>
<script data-sc-pos="footer" data-sc-amd="true" src="//bg.alicdn.com/@cbu/spu/page/product-post/entry.js"></script>

#setLayout("layout/spu/defaultLayout")