<div class="title">标题</div>

#block("screen")
	<ul>
		<li>data: $data</li>
		<li>status: $status</li>
		<li>statusInfo: $statusInfo</li>
	</ul>
#end

<!-- 脚本代码 -->
#block("script")
    <script>var F = {};</script>
#end

<script>
var token = '$util.escapeInHJ($page.tokenField)';
</script>

<!-- 设置布局 -->
#extends("layout/work.vm")