<div class="title">标题</div>

#block("screen")
	data:$data
	status:$status
	statusInfo:$statusInfo
#end

<!-- 脚本代码 -->
#block("script")
    <script>
    var F = {};
    </script>
#end

<!-- setup -->
##extends("layout/work.vm")