<div class="title">标题</div>

#block("screen")
	<ul>
		<li>data: $data</li>
		<li>status: $status</li>
		<li>statusInfo: $statusInfo</li>
	</ul>

    $page.load("ad.vm", {
        "search": '<a href="api api-page">{ 测试+测试 }</a>',
        "content": $statusInfo
    })
#end

<!-- 脚本代码 -->
#block("script")
    <script>var F = {};</script>
    <script>
    var token = '$page.tokenField';
    </script>
#end

<!-- 设置布局 -->
#extends("common/work")
