<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="mobile-agent" content="format=html5; url=http://www.jianshu.com/" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval' http://*.jianshu.com;" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
  <meta name="applicable-device" content="pc,mobile" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="description" content="简书是一个优质的创作社区，在这里，你可以任性地创作。" />
  <meta name="keywords" content="简书,简书官网,图文编辑软件,简书下载,图文创作,创作软件,原创社区,小说,散文,写作,阅读" />
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="5VU1ovmptbF15AsyBJHbbX9lAz4YnRDpNThQ==" />

  <meta property="wb:webmaster" content="294ec9de89e7fadb" />
  <meta property="qc:admins" content="104102651453316562112116375" />
  <meta property="qc:admins" content="11635613706305617" />
  <meta property="qc:admins" content="1163561616621163056375" />

  <title>简书 - 创作你的创作</title>
</head>
<body lang="zh-CN" class="reader-black-font">
  A
</body>
</html>
