<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 文件扫描 -->
	<context:component-scan base-package="org.ionnic.app" />

	<!-- 模板配置 -->
	<bean class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="configLocation" value="/WEB-INF/velocity.properties" />
		<property name="resourceLoaderPath">
			<value>/WEB-INF/views,/WEB-INF/external,/WEB-INF/views/common</value>
		</property>
	</bean>

	<!-- 注解支持 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="false">
			<bean class="org.ionnic.common.converter.ApiMessageConverter" />
			<bean class="org.ionnic.common.converter.JsonMessageConverter" />
		</mvc:message-converters>
		<mvc:async-support default-timeout="3000" />
		<mvc:return-value-handlers>
			<bean class="org.ionnic.common.converter.JsonReturnValueHandler" />
		</mvc:return-value-handlers>
	</mvc:annotation-driven>

	<!-- 视图配置 -->
	<bean class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
		<property name="suffix" value=".vm" />
		<property name="screenContentKey" value="body" />
		<property name="layoutUrl" value="common/layout/default.vm" />
		<property name="requestContextAttribute" value="context" />
		<property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml" />
	</bean>

	<!-- 拦截过滤 -->
	<mvc:interceptors>
		<bean class="org.ionnic.common.interceptor.ContentTypeInterceptor" />
		<bean class="org.ionnic.common.interceptor.SecurityInterceptor" />

		<mvc:interceptor>
			<mvc:mapping path="/api" />
			<mvc:mapping path="/api/**" />
			<bean class="org.ionnic.common.interceptor.ApiProviderInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 异常处理 -->
	<bean class="org.ionnic.common.support.ExceptionResolver">
		<property name="errorView" value="/common/error" />
		<property name="statusCode" value="500" />
	</bean>

	<!-- 静态资源 -->
	<mvc:default-servlet-handler />
</beans>