<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:websocket="http://www.springframework.org/schema/websocket"
    xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 文件扫描 -->
    <context:component-scan base-package="org.ionnic.common.config" />

    <!-- 注解支持 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter" />
            <bean class="org.ionnic.common.web.JsonHttpMessageConverter" />
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 请求匹配 -->
    <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping">
        <property name="basePackage" value="org.ionnic.app" />
    </bean>

    <!-- 视图配置 -->
    <bean class="org.springframework.web.servlet.view.ViewResolverComposite">
        <property name="order" value="0" />
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.BeanNameViewResolver" />
                <bean class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
                    <property name="suffix" value=".vm" />
                    <property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml" />
                </bean>
            </list>
        </property>
    </bean>

    <!-- 模板配置 -->
    <bean class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="configLocation" value="/WEB-INF/velocity.properties" />
        <property name="resourceLoaderPath">
            <value>/WEB-INF/views,/WEB-INF/external</value>
        </property>
    </bean>

    <!-- 拦截器 -->
    <mvc:interceptors>
        <bean class="org.ionnic.common.web.DefaultProcessingInterceptor" />
    </mvc:interceptors>

    <!-- 异常处理 -->
    <bean class="org.springframework.web.servlet.handler.HandlerExceptionResolverComposite">
        <property name="order" value="0" />
        <property name="exceptionResolvers">
            <list>
                <bean class="org.ionnic.common.web.DefaultHandlerExceptionResolver" />
            </list>
        </property>
    </bean>

    <!-- 静态资源 -->
    <mvc:default-servlet-handler />
</beans>