#includeTemplate("header")
<style>
.label {
  display: inline-block;
  width: 60px;
  text-align: right;
  margin: 0 5px;
}
button {
	margin: 10px 50px
}
</style>
<script>
	var dataList = $JsonUtils.stringify($user); 
</script>
<table>
	<tr>
		<td>
			<form action="?action=submit" method="POST" target="hiddenForm">
                <li><label class="label">userName</label><input name="userName" /></li>
                <li><label class="label">password</label><input name="password" /></li>
                <li><label class="label">status</label><input name="status" /></li>
                <button>提交</button>
            </form>
			<iframe name="hiddenForm"></iframe>
		</td>
		<td>
			<div>
			#foreach($item in $user)
				<li>$item.id, $item.userName <b>$item.status</b></li>
			#end
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input name="request_id" value="$request_id" />
			<input name="session_id" value="$session.id" />
		</td>
	</tr>
</table>
$requestContext.getMessage("var.copyright")
#setLayout("layout/defaultLayout")