#macro(setLayout $url)
	#if(!$url.startsWith("layout/"))
		<!-- [WARN] bad layout location. -->
	#end
	#set($screenLayout = "${url}.vm")
#end

#macro(includeTemplate $url)
	#if($url.startsWith("common/"))
		<!-- [WARN] bad control location. -->
	#else
		#parse("common/${url}.vm")
	#end
#end
#macro(LITERAL $rawContent)$!rawContent#end
#macro(disableLayout)
  #set($screenLayout = "")
#end
#macro(includeMessage $messageName)$requestContext.getMessage($messageName)#end
#macro(JSONEncode $data)#LITERAL($privateMacroSupport.stringify($data))#end

