<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:description>
        This file defines all of the necessary security
        configuration.

        It is split from the
        applicationContext.xml file to make
        it clearer
        which beans and configuration elements are related to
        security. It also
        makes it more reusable for other projects, as this
        file can be copied to replicate the security configuration.
    </beans:description>

    <!-- 安全过滤 -->
    <http auto-config="true" create-session="stateless" request-matcher="ant">
        <port-mappings>
            <port-mapping http="8080" https="8443" />
        </port-mappings>

        <intercept-url pattern="/test/security/*" access="ROLE_ADMIN" />
        <intercept-url pattern="/user/*" access="ROLE_ADMIN" />

        <!-- Configures basic auth. -->
        <http-basic />

        <custom-filter ref="GlobalAccessFilter" before="FIRST" />
        <custom-filter ref="RequestContextFilter" after="LAST" />

        <access-denied-handler ref="AccessDeniedHandler" />
    </http>

    <!-- 定义过滤 -->
    <beans:bean id="GlobalAccessFilter" class="org.ionnic.core.filter.GlobalAccessFilter" />
    <beans:bean id="RequestContextFilter" class="org.ionnic.core.filter.RequestContextFilter" />

	<!-- 认证管理 -->
    <authentication-manager erase-credentials="true">
        <authentication-provider>
            <password-encoder hash="md5" />
            <user-service>
                <user name="admin" authorities="ROLE_ADMIN" password="21232f297a57a5a743894a0e4a801fc3" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

    <!-- 异常处理 -->
    <beans:bean id="AccessDeniedHandler" class="org.ionnic.core.handler.AccessDeniedHandler">
        <beans:property name="errorPage" value="/page/access.jsp" />
    </beans:bean>
</beans:beans>