<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- requestDataValueProcessor -->
	<context:property-placeholder location="classpath:conf/local/servlet.properties" />

	<!-- Velocity Configuration -->
	<bean class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath">
			<value>/META-INF/velocity</value>
		</property>
		<property name="configLocation" value="/WEB-INF/velocity.properties" />
	</bean>
	<bean id="xstreamMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller">
		<property name="autodetectAnnotations" value="true" />
		<!-- Set some properties to make the outputted xml look nicer -->
		<!-- <property name="aliases">
			<map>
			<entry key="people" value="org.ionnic.app.model.PeopleWrapper" />
			<entry key="apimessage" value="org.ionnic.app.model.ApiMessage" />
			<entry key="person" value="org.ionnic.app.model.Person" />
			</map>
			</property>
			<property name="implicitCollections">
			<map>
			<entry key="org.ionnic.app.model.PeopleWrapper" value="people" />
			</map>
			</property> -->
	</bean>

	<!-- Configuration: automatically scan the package name -->
	<context:component-scan base-package="org.ionnic.app" />

	<!-- Activates support for XML and JSON mapping if they are on the class path. -->
	<!-- <mvc:annotation-driven /> -->
	<mvc:annotation-driven>
		<!-- <mvc:message-converters></mvc:message-converters> -->
		<mvc:return-value-handlers>
			<bean class="org.springframework.web.servlet.mvc.method.annotation.ModelAndViewMethodReturnValueHandler" />
		</mvc:return-value-handlers>
	</mvc:annotation-driven>

	<!-- interceptors' configure -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="org.ionnic.core.support.Intercepter" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- Configures the different content types the servlet can handle. -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="order" value="1" />
		<property name="favorParameter" value="true" />
		<property name="parameterName" value="format" />
		<property name="ignoreAcceptHeader" value="false" />
		<property name="favorPathExtension" value="true" />
		<property name="defaultContentType" value="text/html" />
		<property name="mediaTypes">
			<map>
				<entry key="json" value="application/json" />
				<!-- <entry key="xml" value="application/xml" /> -->
				<entry key="html" value="text/html" />
			</map>
		</property>
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
					<property name="order" value="1" />
					<property name="suffix" value=".vm" />
					<property name="layoutKey" value="layout" />
					<property name="layoutUrl" value="/layout/blank.vm" />
					<property name="contentType" value="text/html;charset=UTF-8" />
					<property name="screenContentKey" value="SCREEN" />
					<property name="requestContextAttribute" value="context" />
					<property name="exposeRequestAttributes" value="true" />
					<property name="exposeSpringMacroHelpers" value="true" />
					<property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml" />
				</bean>
				
				<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="order" value="2" />
					<!-- <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" /> -->
					<property name="prefix" value="/META-INF/jsp/" />
					<property name="suffix" value=".jsp" />
					<property name="contentType" value="text/html;charset=UTF-8" />
					<property name="alwaysInclude" value="true" />
				</bean>
			</list>
		</property>

		<property name="defaultViews">
			<list>
				<!-- JSON -->
				<bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
					<property name="extractValueFromSingleKeyModel" value="true" />
					<property name="contentType" value="application/json;charset=UTF-8" />
				</bean>

				<!-- JAXB XML -->
				<bean class="org.springframework.web.servlet.view.xml.MarshallingView">
					<constructor-arg ref="xstreamMarshaller" />
					<property name="modelKey" value="data" />
				</bean>
			</list>
		</property>
	</bean>

	<!-- Configuration: access to static resource -->
	<mvc:resources location="/page/" mapping="/page/**" />
	<mvc:resources location="/static/" mapping="/static/**" />
	
	<mvc:default-servlet-handler />
</beans>