<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- VM配置项 -->
    <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="configLocation" value="/WEB-INF/velocity.properties" />
        <property name="resourceLoaderPath">
            <value>META-INF/velocity,META-INF/velocity/common,WEB-INF/external</value>
        </property>
    </bean>

    <bean id="xstreamMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller">
        <property name="autodetectAnnotations" value="true" />
        <property name="aliases">
            <map>
                <entry key="message" value="org.ionnic.app.model.ApiMessage" />
            </map>
        </property>

		<!-- <property name="implicitCollections">
			<map>
				<entry key="org.ionnic.app.model.Person" value="organisation" />
			</map>
		</property> -->
    </bean>
    
    <!-- 启用注解 -->
    <context:annotation-config />

	<!-- 扫描组件 -->
    <context:component-scan base-package="org.ionnic.app" />
    
	<!-- 映射关系 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
        </mvc:message-converters>
        <mvc:return-value-handlers>
            <bean class="org.springframework.web.servlet.mvc.method.annotation.ModelAndViewMethodReturnValueHandler" />
        </mvc:return-value-handlers>
    </mvc:annotation-driven>

	<!-- 视图处理 -->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="order" value="1" />

        <property name="favorParameter" value="true" />
        <property name="ignoreAcceptHeader" value="true" />
        <property name="defaultContentType" value="text/html" />
        <property name="mediaTypes">
            <map>
                <entry key="html" value="text/html" />
                <entry key="xml" value="application/xml" />
                <entry key="json" value="application/json" />
                <entry key="jsonp" value="application/javascript" />
            </map>
        </property>
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
                    <property name="order" value="1" />

                    <property name="contentType" value="text/html;charset=UTF-8" />
                    <property name="suffix" value=".vm" />
                    <property name="requestContextAttribute" value="context" />
                    <property name="exposeSessionAttributes" value="true" />
                    <property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml" />
                </bean>

                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="order" value="2" />

                    <property name="alwaysInclude" value="true" />
                    <property name="contentType" value="text/html;charset=UTF-8" />
                    <property name="prefix" value="/META-INF/jsp/" />
                    <property name="suffix" value=".jsp" />
                    <property name="requestContextAttribute" value="context" />
                </bean>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <!-- JSON -->
                <bean class="org.ionnic.core.view.JsonViewer">
                    <property name="extractValueFromSingleKeyModel" value="true" />
                    <property name="contentType" value="application/json;charset=UTF-8" />
                </bean>

                <!-- JAXB XML -->
                <bean class="org.springframework.web.servlet.view.xml.MarshallingView">
                    <constructor-arg ref="xstreamMarshaller" />
                    <property name="modelKey" value="data" />
                </bean>
                
                <!-- JSONP -->
                <bean class="org.ionnic.core.view.JsonpViewer">
                    <property name="callbackKey" value="callback" />
                    <property name="varKey" value="var" />
                    <property name="defaultCallback" value="callback" />
                    <property name="contentType" value="application/javascript;charset=UTF-8" />
                </bean>
            </list>
        </property>
    </bean>
    
    <!-- AOP注解功能 -->
    <aop:aspectj-autoproxy /> 
    
	<!-- 全局拦截器 -->
    <mvc:interceptors>
        <bean class="org.ionnic.core.HandleIntercepter" />
        <mvc:interceptor>
            <mvc:mapping path="/forum/post" />
            <mvc:mapping path="/forum/reply/*" />
            <bean class="org.ionnic.core.HandleIntercepter" />
        </mvc:interceptor>
    </mvc:interceptors>
    
    <!-- 异常处理 -->
    <bean class="org.ionnic.core.view.ExceptionResolver">
        <property name="exceptionAttribute" value="exception" />
        <property name="exceptionMappings">
            <props>
                <prop key="Exception">common/error</prop>
                <prop key="NullPointerException">common/error</prop>
            </props>
        </property>
        <property name="defaultErrorView" value="common/error" />
        <property name="defaultStatusCode" value="500" />
    </bean>
    
    <!-- 根地址跳转 -->
    <mvc:view-controller path="/" view-name="redirect:/index.html" />

	<!-- 默认配置 -->
    <mvc:default-servlet-handler />
</beans>