<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- VM配置项 -->
    <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="configLocation" value="/WEB-INF/velocity.properties" />
        <property name="resourceLoaderPath">
            <value>META-INF/views,META-INF/external,META-INF/views/common</value>
        </property>
    </bean>

    <bean id="xstreamMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller">
        <property name="autodetectAnnotations" value="true" />
    </bean>
    
    <!-- 启用注解 -->
    <context:annotation-config />

    <!-- 扫描组件 -->
    <context:component-scan base-package="org.ionnic" use-default-filters="true">
        <context:include-filter type="regex" expression="org.ionnic.app.*" />
        <context:include-filter type="regex" expression="org.ionnic.core.bean.*" />
    </context:component-scan>
    
    <!-- 映射关系 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json</value>
                    </list>
                </property>
            </bean>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
        <mvc:return-value-handlers>
            <bean class="org.springframework.web.servlet.mvc.method.annotation.ModelAndViewMethodReturnValueHandler" />
            <bean class="org.ionnic.core.handler.JsonResultReturnValueHandler" />
        </mvc:return-value-handlers>
    </mvc:annotation-driven>

    <!-- 视图处理 -->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="order" value="1" />

        <property name="favorParameter" value="true" />
        <property name="ignoreAcceptHeader" value="false" />
        <property name="defaultContentType" value="application/json" />
        <property name="contentNegotiationManager">
            <bean class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
                <property name="mediaTypes">
                    <props>
                        <prop key="html">text/html</prop>
                        <prop key="xml">application/xml</prop>
                        <prop key="json">application/json</prop>
                        <prop key="jsonp">application/javascript</prop>
                    </props>
                </property>
            </bean>
        </property>
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
                    <property name="order" value="1" />

                    <property name="contentType" value="text/html;charset=UTF-8" />
                    <property name="suffix" value=".vm" />
                    <property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml" />
                    <property name="exposeSessionAttributes" value="true" />
                    <property name="requestContextAttribute" value="context" />
                </bean>

                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="order" value="2" />

                    <property name="alwaysInclude" value="true" />
                    <property name="contentType" value="text/html;charset=UTF-8" />
                    <property name="prefix" value="/META-INF/views/" />
                    <property name="suffix" value=".jsp" />
                    <property name="requestContextAttribute" value="context" />
                </bean>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <!-- JSON -->
                <bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
                    <property name="extractValueFromSingleKeyModel" value="true" />
                    <property name="contentType" value="application/json;charset=UTF-8" />
                </bean>

                <!-- JAXB XML -->
                <bean class="org.springframework.web.servlet.view.xml.MarshallingView">
                    <constructor-arg ref="xstreamMarshaller" />
                    <property name="modelKey" value="data" />
                </bean>
                
                <!-- JSONP -->
                <bean class="org.ionnic.core.view.MappingJsonpView">
                    <property name="callbackKey" value="callback" />
                    <property name="varKey" value="var" />
                    <property name="defaultCallback" value="callback" />
                    <property name="contentType" value="application/javascript;charset=UTF-8" />
                </bean>
            </list>
        </property>
    </bean>
    
    <!-- AOP注解功能 -->
    <aop:aspectj-autoproxy />
    
    <!-- 全局拦截器 -->
    <mvc:interceptors>
        <bean class="org.ionnic.core.intercepter.CommonInterceptor" />
        <bean class="org.ionnic.core.intercepter.CSRFInterceptor" />
    </mvc:interceptors>
    
    <!-- 异常处理 -->
    <bean class="org.ionnic.core.exception.MappingExceptionResolver">
        <property name="exceptionAttribute" value="exception" />
        <property name="defaultErrorView" value="/common/error" />
        <property name="defaultStatusCode" value="500" />
    </bean>
    
    <!-- 根地址跳转 -->
    <mvc:view-controller path="/" view-name="redirect:/index.html" />

    <!-- 默认配置 -->
    <mvc:default-servlet-handler default-servlet-name="default" />
</beans>