<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">

	<bean class="org.springframework.session.jdbc.config.annotation.web.http.JdbcHttpSessionConfiguration">
		<property name="maxInactiveIntervalInSeconds" value="86400" />
	</bean>

	<bean id="cookieSerializer" class="org.springframework.session.web.http.DefaultCookieSerializer">
		<property name="cookieName" value="HTTPSID" />
		<property name="useSecureCookie" value="true" />
	</bean>

	<!-- 过滤机制 -->
	<bean id="delegatingFilter" class="org.springframework.web.filter.CompositeFilter">
		<property name="filters">
			<list>
				<bean class="org.springframework.web.filter.CharacterEncodingFilter">
					<property name="encoding" value="UTF-8" />
					<property name="forceEncoding" value="false" />
				</bean>
				<bean class="org.springframework.web.filter.RequestContextFilter" />
				<bean class="org.springframework.session.web.http.SessionRepositoryFilter">
					<property name="httpSessionStrategy">
						<bean class="org.springframework.session.web.http.CookieHttpSessionStrategy">
							<property name="sessionAliasParamName" value="httpSessionId" />
							<property name="cookieSerializer" ref="cookieSerializer" />
						</bean>
					</property>
				</bean>
			</list>
		</property>
	</bean>
</beans>
