<style>
body {
	font-family: monospace;
	line-height: 1.44;
    background: #000;
    color: #888;
}
fieldset {
    font-size: 12px;
    word-break: break-word;
    border-color: #999;
    border-width: 1px;
}
pre {
	line-height: 1;
}
strong {
    color: #FFF;
    font-weight: normal;  
}
legend {
    font-weight: bold;
    color: red;
}
</style>
<pre>
  .   ____          _            __ _ _
 /\\ / ___'_ __ _ _(_)_ __  __ _ \ \ \ \
( ( )\___ | '_ | '_| | '_ \/ _` | \ \ \ \
 \\/  ___)| |_)| | | | | || (_| |  ) ) ) )
  '  |____| .__|_| |_|_| |_\__, | / / / /
 =========|_|==============|___/=/_/_/_/

 :: Spring Boot ::        (v2.1.1.RELEASE)
 </pre>
<fieldset>
    <legend>[General]</legend>
    <strong>CharacterEncoding</strong>: $Request.getCharacterEncoding() </br/>
    <strong>ContentType</strong>: $Request.getContentType() </br/>
    <strong>Locale</strong>: $Request.getLocale() </br/>
    <strong>LocalName</strong>: $Request.getLocalName() </br/>
    <strong>ServerName</strong>: $Request.getServerName() </br/>
    <strong>Protocol</strong>: $Request.getProtocol() </br/>
    <strong>RemoteAddr</strong>: $Request.getRemoteAddr() </br/>
    <strong>QueryString</strong>: $Request.getQueryString() </br/>
    <strong>RequestURI</strong>: $Request.getRequestURI() </br/>
    <strong>RequestURL</strong>: $Request.getRequestURL() </br/>
</fieldset>
<fieldset>
    <legend>[Header]</legend>
    #foreach($name in $Request.getHeaderNames())
      <strong>$name</strong>: $Request.getHeader($name) <br />
    #end
</fieldset>
<fieldset>
    <legend>[Parameter]</legend>
    #foreach($name in $Request.getParameterNames())
      <strong>$name</strong>: $Request.getParameter($name) <br />
    #end
</fieldset>
<fieldset>
    <legend>[Session]</legend>
    #foreach($name in $!Session.getAttributeNames())
      <strong>$name</strong>: $!Session.getAttribute($name) <br />
    #end
</fieldset>
<fieldset>
    <legend>[Cookie]</legend>
    #foreach($name in $Request.getCookies())
      <strong>$name.getName()</strong>: $name.getValue() <br />
    #end
</fieldset>
<fieldset>
  <legend>[Render Context]</legend>
    #foreach($name in $Data.keySet())
      <strong>$name</strong>: $Data.get($name) <br />
    #end
</fieldset>
<fieldset>
  <legend>[Request Attribute]</legend>
    #foreach($name in $Request.getAttributeNames())
      <strong>$name</strong>: $Request.getAttribute($name) <br />
    #end
</fieldset>
<fieldset>
    <legend>[Properties]</legend>
    #foreach($name in $Data.properties.keySet())
    <strong>$name</strong>: $Data.properties.get($name) <br />
  #end
</fieldset>

#setLayout("layout/defaultLayout")