#includeTemplate("header")
<style>
li {
	margin-bottom: 3px;
}
li label {
  display: inline-block;
  width: 70px;
  text-align: right;
  margin: 2px 5px;
}
li input {
	width: 150px;
	border: 1px solid #CCC;
	padding: 5px 10px;
	border-radius: 5px;
}
span {
	display: inline-block;
    padding: 2px 5px;
    margin: 2px;
    background: #EEE;
    font-size: 12px;
}
button {
	margin: 0 0 20px 102px;
    width: 60px;
    padding: 5px;
    border-radius: 5px;
}
</style>
<table>
	<tr>
		<td style="vertical-align: top;">
			<form action="?action=upload" method="post" enctype="multipart/form-data" target="hiddenForm">
                <li><label class="label">imageFile</label><input name="imageFile" type="file" /></li>
                <li><label class="label">Width</label><input type="number" name="width" value="100" /></li>
                <li><label class="label">Height</label><input type="number" name="height" value="100" /></li>
                <button type="submit">上传</button>
            </form>
			<form action="?action=submit" method="post" target="hiddenForm">
                <li><label class="label">userName</label><input x-webkit-speech="true" name="userName" /></li>
                <li><label class="label">password</label><input name="password" /></li>
                <li><label class="label">status</label><input name="status" /></li>
                <button type="submit">提交</button>
            </form>
			<iframe width="280" name="hiddenForm"></iframe>
			<em>$sessionId</em>
		</td>
		<td>
			<div>
			#foreach($item in $user)
				<span>$item.userName</span>
			#end
			</div>
		</td>
	</tr>
</table>
<script src="/static/libs/jquery.js"></script>
<script>
function randomString(len) {
　　len = len || 32;
　　var chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
　　var maxPos = chars.length;
　　var pwd = '';
　　for (i = 0; i < len; i++) {
　　　　pwd += chars.charAt(Math.floor(Math.random() * maxPos));
　　}
　　return pwd;
}
function sendData() {
    var defaultMap = {
    	userName: randomString(16),
    	password: randomString(8),
    	status: randomString(5),
    }
    var ajaxOpt = {
    		dataType: 'json',
        	data: defaultMap,
        	method: "post",
        	successs: function(){
        		sendData()
        	}
    }
    jQuery.ajax('?action=pay', ajaxOpt)
}
sendData()
</script>

$velocityEngine

<hr>
##springMessage("var.copyright")
##springMessage("server.domainName")
#setLayout("layout/defaultLayout")
