#includeTemplate("header")
<link rel="stylesheet" href="/css/common.css" />

<form action="?Action=upload" method="post" enctype="multipart/form-data" target="hiddenForm">
	<li><label class="label">imageFile</label><input name="imageFile" type="file" /></li>
	<li><label class="label">Width</label><input type="number" name="width" value="100" /></li>
	<li><label class="label">Height</label><input type="number" name="height" value="100" /></li>
	<button type="submit">上传</button>
</form>
<iframe width="280" name="hiddenForm"></iframe>

<script src="/js/jquery.js"></script>
<script src="/js/common.js"></script>
<script>
F.sendRequest('?Action=pay', {
	dataType: 'JSON',
	data: {
		userName : F.random(16),
		password : F.random(8),
		status : F.random(5),
	},
	callback: function(error, response) {
		console.log(response);
	}
});
</script>
<div>

$Data
</div>
#setLayout("layout/defaultLayout")
